{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am a dedicated and results-driven DevOps Engineer with expertise in cloud infrastructure, automation, and
          scalable systems design. With a strong background in AWS, Kubernetes, Docker, and Terraform, I specialize in
          building robust, secure, and efficient CI/CD pipelines, streamlining development workflows, and ensuring high
          availability of applications. My passion lies in solving complex problems and optimizing processes to bridge
          the gap between development and operations. Whether it’s deploying multi-tier architectures, automating
          repetitive tasks, or implementing cutting-edge solutions, I am committed to delivering value through technology.
        </p>
        <p>
          When I’m not immersed in cloud configurations or scripting, you’ll find me watching football,
          exploring new music, or enjoying a good game with friends. Balancing work with hobbies keeps me motivated and
          creative, both in and out of the tech world.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
